-r requirements.txt
opentelemetry-sdk==1.43.0
opentelemetry-instrumentation-django==0.65b0
opentelemetry-instrumentation-psycopg==0.64b0
opentelemetry-instrumentation-logging==0.64b0
opentelemetry-exporter-otlp-proto-http==1.43.0
pytest==9.0.3
pytest-django==4.12.0
factory-boy==3.3.3
model-bakery==1.23.4
ruff==0.15.15
